# PROBLEM 1

In [9]:
import pandas as pd

#Read/load the csv file and store it in a variable named "cars" to be able to use its data
cars = pd.read_csv('cars.csv')

#Storing the first and last 5 rows in "head" and "tail" with head() and tail() function respectively
head = cars.head()
tail = cars.tail()

#Concatenating tail to head into variable "headtail" for better readability
headtail = pd.concat([head, tail])

#Displaying the first and last five rows of the dataframe with print() finction
print("The first and last 5 rows of dataframe 'cars':")
headtail

The first and last 5 rows of dataframe 'cars':

,Model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2
28,Ford Pantera L,15.8,8,351.0,264,4.22,3.170,14.50,0,1,5,4
29,Ferrari Dino,19.7,6,145.0,175,3.62,2.770,15.50,0,1,5,6
30,Maserati Bora,15.0,8,301.0,335,3.54,3.570,14.60,0,1,5,8
31,Volvo 142E,21.4,4,121.0,109,4.11,2.780,18.60,1,1,4,2

# PROBLEM 2

In [7]:
import pandas as pd

#Read/load the csv file and store it in a variable named "cars" to be able to use its data
cars = pd.read_csv('cars.csv')

#a) Display the first five rows with odd-numbered columns (columns 1, 3, 5, 7…) of cars.
#Using the `.iloc` function, we can set the range of values for rows of 0 to 5 and columns starting from 1 with an increment of 2 
a = cars.iloc[:5, 1::2]
print("The first five rows with odd-numbered columns is:")
print(a)
print()

#b) Display the row that contains the "Model" of "Mazda RX4". 
#Using the `.loc` function, find the row with "Mazda RX4" under the "Model" category and print all its columns
b = cars.loc[cars['Model']=='Mazda RX4']
print("The row that contains the ‘Model’ of ‘Mazda RX4’ is:")
print(b)
print()

#c) How many cylinders ("cyl’") does the car model "Camaro Z28’" have?
#Using the `.loc` function, find the row with "Camaro Z28" under the "Model" category and print only the column of its cylinders "cyl" and for readability also print "Model"
c = cars.loc[cars['Model']=='Camaro Z28', ['Model', 'cyl']]
print("Cylinders of car model 'Camaro Z28':")
print(c)
print()

#d) Determine how many cylinders ("cyl") and what gear type ("gear") do the car models "Mazda RX4 Wag", "Ford Pantera L" and "Honda Civic" have.
#Using the `.loc` function, find the row with "Mazda RX4 Wag", "Ford Pantera ", and "Honda Civic" under the "Model" category and print only the column of its cylinders "cyl", gear type "gear", and for readability "Model"
x = cars.loc[cars['Model']=='Mazda RX4 Wag', ['Model', 'cyl', 'gear']]
y = cars.loc[cars['Model']=='Ford Pantera L', ['Model', 'cyl', 'gear']]
z = cars.loc[cars['Model']=='Honda Civic', ['Model', 'cyl', 'gear']]

#Concatenating x, y, and z for readability
d = pd.concat([x, y, z])

#Displaying using the print() function
print("Cylinders and gear type of models 'Mazda RX4 Wag', 'Ford Pantera L', and 'Honda Civic':")
print(d)

The first five rows with odd-numbered columns is:
    mpg   disp  drat   qsec  am  carb
0  21.0  160.0  3.90  16.46   1     4
1  21.0  160.0  3.90  17.02   1     4
2  22.8  108.0  3.85  18.61   1     1
3  21.4  258.0  3.08  19.44   0     1
4  18.7  360.0  3.15  17.02   0     2

The row that contains the ‘Model’ of ‘Mazda RX4’ is:
       Model   mpg  cyl   disp   hp  drat    wt   qsec  vs  am  gear  carb
0  Mazda RX4  21.0    6  160.0  110   3.9  2.62  16.46   0   1     4     4

Cylinders of car model 'Camaro Z28':
         Model  cyl
23  Camaro Z28    8

Cylinders and gear type of models 'Mazda RX4 Wag', 'Ford Pantera L', and 'Honda Civic':
             Model  cyl  gear
1    Mazda RX4 Wag    6     4
28  Ford Pantera L    8     5
18     Honda Civic    4     4